* {
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
  --background-color: hsl(240deg, 80%, 100%);
  --secondary-color: hsl(225deg 13% 24%);
  --text-color: rgb(32, 32, 56);
  --intro-color: hsl(0, 0%, 85%);
  /* --secondary-color: hsl(225, 85%, 57%); */


  --font-size-small: 0.5rem;
  --font-size-regular: 1rem;
  --font-size-large: 1.5rem;
  --font-size-xl: 2rem;

  --box-shadow-contact: inset 4px 3px 13px 2px;
  --box-shadow-button: 4px 4px 14px 4px;
   --box-shadow-icon: 0px 5px 12px 3px #083054;

  --box-shadow-contact: inset 4px 3px 13px 2px;
  --spacing-regular: 16px;
  --spacing-small: calc(var(--spacing-regular) / 2);

}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: var(--font-size-large);
}

body.dark-theme{
  --background-color: hsl(240deg, 80%, 4%);
  --text-color: hsl(240deg 95% 100%);
  --intro-color: hsl(0, 0%, 19%);
  --box-shadow-contact: inset 4px 3px 13px 2px #790de3;
  --box-shadow-button:0px 8px 6px #19d0e0;
   --box-shadow-icon: 2px 2px 8px 4px #fe10c7;
   --secondary-color:hsl(111deg 93% 52%);
   
}

header {
  padding: 14px;
  position: sticky;
  top: 0;
  z-index: 1;
  background:var(--background-color);
  border: 1px solid var(--secondary-color);
}

.default-nav {
  display: flex;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  color: inherit;
  font-size:  var(--font-size-regular);
}

header nav  a {
  margin: 10px;
  margin-right: 16px;
  text-decoration: none;
  padding: 8px;
}

header nav  a {
  margin-right: 16px;
}

header nav  a:last-child {
  margin-right: revert;

}

section {
  scroll-margin-top: calc(100px - (2 * var(--spacing-regular)));
}

nav a:hover,
nav a:visited:hover {
  color: var(--secondary-color);
}


nav a:visited {
  color: inherit;
}

footer {
  padding: 16px;
  text-align: center;
  border-top: 4px solid;
}
.container {
  padding: 16px;
}

.container > section > h2 {
  text-align: center;
}

.intro {
  margin: -16px;
  padding: 16px;
  background-color: var(--intro-color);
  color: white;
  text-align: center;
}

#profile-image {
  height: 500px;
  width: 400px;
  border-radius: 26px;
  filter: drop-shadow(8px 4px 20px gray );
}
#hello{
  
  text-shadow: 10px 10px 8px #0f0f0f;
}

.social-links img {
  height: 20px;
  width: 20px;
  box-shadow:var(--box-shadow-icon);
}

.social-links a {
  text-decoration: none;
  margin: auto 16px;
}
#about-me{
  font-size: var(--font-size-large);
  text-align: center;
}


table,
tr,
td,
th {
  border: 1px solid;
  border-collapse: collapse;
  margin: auto;
}
th,
td {
  padding: 8px;
}
    
p {
  font-size: 1.5rem;
  
}

.dynamic-text-color {
  color: royalblue;
}



form#contact {
  max-width: 400px;
  margin: auto;
  padding: 16px;
  border: 1px solid;
  border-radius: 16px;
  box-shadow: 10px 6px 20px 4px var(--secondary-color);
}

#contact label {
  display: block;
  font-weight: 600;
  font-size: var(--font-size-regular);
}
#contact input,
#contact textarea,
#contact button {
  width: 100%;
  font-size: 1.2rem;
  padding: 8px;
  box-shadow: var(--box-shadow-contact);
}
#contact button {
  box-shadow:var(--box-shadow-button);

}

  #contact-me {
  margin-top: 20px;
}

.mobile-nav,
section.menu {
  display: none;
}

@media (width<=600px) {
  .default-nav {
    display: none;
  }
  .mobile-nav {
    display: revert;
  }

#menu-button{
display:block;
border-radius: 9px;
margin-left: auto;
box-shadow: var(--box-shadow-button);
background: var(--background-color);
color: var(--text-color);
border-color: var(--text-color);
}

section.menu {
  display: revert;
  height: 0;
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  background-color: var(--background-color);
  z-index: 2;;
  transition: height 0.8s ease-in-out;
 
}

section.menu ul {
  list-style: none;
}
section.menu ul > li {
  margin-bottom: 16px;
  font-size: 1.5rem;
}
section.menu nav {
  margin-top: 48px;
}
section.menu nav a {
  margin-top: 48px;
  font-size: var(--font-size-large);
}


#close-menu {
  position: absolute;
  right: 20px;
  top: 16px;
  background: transparent;
  color: var( --text-color);
  font-size: var(--font-size-xl);
  border: none;
  
}
}

@media (width<=400px )  {
  
    #profile-image{
    width: 100%;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    --background-color: hsl(240deg, 80%, 4%);
    --text-color: hsl(240deg 95% 100%);
    --intro-color: hsl(0, 0%, 19%);
    --box-shadow-contact: inset 4px 3px 13px 2px #790de3;
    --box-shadow-button:0px 8px 6px #19d0e0;
     --box-shadow-icon: 2px 2px 8px 4px #fe10c7;
     --secondary-color:hsl(111deg 93% 52%);
     
  }
  body.light-theme {
    
    --background-color: hsl(240deg, 80%, 100%);
    /* --secondary-color: hsl(225deg 13% 24%); */
    --text-color: rgb(32, 32, 56);
    --intro-color: hsl(0, 0%, 85%);
  }
}

#hobbies{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: var(--spacing-regular);
  justify-content: center;
  justify-items: center; 
}
.card {
  border: 1px solid white;
  padding: var(--spacing-regular);
  box-shadow: 2px 2px 5px 2px  var(--secondary-color);
  width: 100%;
  border-radius: var(--spacing-regular);
  z-index: 0;
  transition: transform 0.2s ease-in, box-shadow 0.4s ease-in-out;
}

.card:hover {
  box-shadow: 4px 4px 9px 9px var(--secondary-color);
  transform: translateY(calc(-1 * var(--spacing-small)));
}


.card ul {
  list-style: none;
  padding: 0;

}
.card header h1 {
  text-align: center;
}